.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  width: 100vw;
  background-color: #DBEFFA;
  background-image: url(img/desktop-back.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  height: 40px;
  border-radius: 50px;
  background-color: #2A4891;
  color: white;
  font-size: 20px;
  border: none;
}

.modal {
  display: none;
}

/* Container */

.container {
  background-position-x: center;
  position: relative;
  max-width: 1416px;
  flex-direction:column;
  margin: 0px auto;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  color: #2A4891;
  background-repeat: no-repeat;
}

.key-visual {
  position: relative;
  background-position-x: 50%;
  background-repeat: no-repeat;
  height: 489px;
  background-image: url(img/desktop-keyvisual.png);
}

/* Как участвовать */

.how {
  margin: 73px 0px 0px;
}

.how_title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
}

.how_list {
  text-align: center;
  width: 1010px;
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  margin-left: 50px;
}

.how_steps {
  margin: 0 auto;
  padding-right: 50px;
  position: relative;
  background-position-x: 0%;
  background-repeat: no-repeat;
  width: 1140px;
  background-image: url(img/desktop-steps.png);
}

.how_item {
  font-size: 24px;
  line-height: 28px;
}

.how_item:nth-child(1) {
    width: 205px;
  }
  .how_item:nth-child(2) {
    width: 532px;
  }

  .how_item:nth-child(3) {
    width: 121px;
    margin-left: 20px;
  }

/*Выиграй одну из*/

.promo {
  text-align: center;
  margin: 170px 0px 192px;
}

.promo_title {
  font-size: 42px;
  line-height: 49px;
  padding-bottom: 36px;
  width: 871px;
  margin: 0px auto;
}

.buttons_list{
  list-style: none;
  padding: 0px;
  margin: 0px auto;
  display: flex;
  width: 789px;
  justify-content: space-between;
}

.promo_button {
  display: block;
  margin: 0px auto;
  width: 357px;
}

.promo_link {
  align-items: center;
  width: 357px;
  padding-top: 20px;
  display: block;
  text-decoration: none;
  color: white;
}
/* Призовой фонд */

.details {
  margin: 0 auto 256px;
  width: 1080px;
  }

.details_title {
  font-size: 42px;
  line-height: 49px;
  }

.details_list {
  width: 100%;
  padding-left: 50px;
  background-image: url(img/prizes.svg);
  background-repeat: no-repeat;
}

.details_text {
  font-size: 30px;
 line-height: 35px;
}

.about {
    margin: 0px auto 127px;
    width: 1080px;
  }

  .about_title {
    font-size: 42px;
    line-height: 49px;
  }

  .about_text {
    font-size: 30px;
    line-height: 35px;
  }

  .advantages {
    margin: 0px auto 158px;
    width: 1080px;
  }

  .advantages_title {
    font-size: 42px;
    line-height: 49px;
  }
  .advantages_item {
    margin: 30px 0;
    font-size: 30px;
    line-height: 35px;
  }
  .advantages_text {
    font-size: 24px;
    line-height: 28px;
  }


/* Условия участия */

.conditions {
  text-align: center;
  margin: 0px auto;
  width: 1080px;
}

.conditions_title {
  text-align: left;
  font-size: 42px;
  line-height: 49px;
  margin-bottom: 42px;
}

.conditions_list {
  width: 1080px;
  text-align: left;
  list-style: disc;
  margin: 0 auto 0px;
}

.conditions_item {
  text-align: left;
  font-size: 30px;
  line-height: 35px;
  margin-left: -35px;
}

.conditions_post-scriptum {
  font-size: 30px;
   line-height: 35px;
  margin-left: -55px;
}

.conditions_link {
  color: #2A4891;
  font-weight: bold;
  text-decoration: underline;
}

/* Кнопка "Правила акции" */ 

.rules_button {
  font-size: 24px;
  line-height: 28px;
  width: 328px;
  height: 45px;
  margin: 0 auto 62px;
}

/* Правила акции */

.rules {
  margin: 0 auto;
  color: #212E4E;
}

.rules_title {
  width: 1080px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
}

.rules_list {
  width: 1080px;
  margin: 0px auto;
}

.rules_subitem {
  font-size: 16px;
  line-height: 19px;
  margin-left: 35px;
  list-style: circle;
}

.rules_text {
  font-size: 16px;
  line-height: 19px;
  margin: 5px 0;
}

.rules_item {
  padding-left: 20px;
}

.rules_paragraph {
  text-align: center;
  padding: 5px 0;
}

.rules_subparagraph {
  font-size: 16px;
  line-height: 19px;
  padding: 3px 0;
}

.rules_img {
  background-image: url(img/);
   width: 1080px;
   height: 226px;
}

.rules-link {
  width: 328px;
  height: 45px;
  margin: 110px auto 0px;
  height: 27px;
  border-radius: 16px;
  display: block;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
}

/* Победители */

.winners_body {
  background-color: #DBEFFA;
  background-repeat: no-repeat;
  background-position-x: center;
  color: #2A4891;
  font-family: "Roboto", sans-serif;
}

.winners_title {
  text-align: center;
  height: 150px;
  font-weight: bold;
}

